#header-home {
    display: inline-block;
    width: 100%;
    height: 70px;
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    white-space: nowrap;
    word-wrap: none;
    /* border-bottom-color: grey;
    border-bottom-style: solid;
    border-bottom-width: 1px; */
}

a {
    text-decoration: none;
    color: black;
}

#logo {
    float: left;
    padding-top: 5px;
    margin-left: 5px;
}

#name {
    float: left;
    font-family: 'Philosopher', sans-serif;
    margin-top: 17px;
    margin-left: 10px;
    padding-right: 17%;
    font-size: 38px;
    color: #A00000;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Arial';
    padding-top: 38px;
    /* margin-left: 10em;
    margin-right: 10em; */
    font-size: 1rem;
    width: 32%;
    white-space: nowrap;
}

/* #search {
    margin-top: 30px;
    width: 25%;
    margin-right: 5vw;
} */

.search-input {
    background-color: white;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    margin-right: 33%;
    margin-left: 33%;
    height: 38px;
    white-space: nowrap;
    align-items: center;
    position: relative;
}

.search-field {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 0px;
    padding-top: 5px;
    width: 80%;
    height: 27px;
    outline: 0;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.search-button {
    width: 27px;
    height: 27px;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    position: absolute;
    right: 5px;
}

.search-icon {
    width: 27px;
    height: 27px;
}

figure figcaption {
    position: absolute;
    text-align: center;
    font-size: 16px;
    font-family: Arial;
    width: 180px;
    padding-top: 200px;
}

.login-signup {
    white-space: nowrap;
}

form>p {
    position: absolute;
    block-size: 15vw;
    font-size: 2vw;
    color: black;
    width: 15vw;
    top: 9em;
    right: 6em;
    font-family: Georgia;
    line-height: 1.35em;
}

#triangle {
    top: -3.6em;
    /* margin-top: 0px; */
    left: 68%;
    position: absolute;
    width: 32%;
}

.login-signup button {
    position: absolute;
    background-color: #A00000;
    height: 1.8em;
    width: 16vw;
    color: white;
    font-size: 1.5vw;
    border-width: 0px;
    border-radius: 3px;
    top: 35vw;
    right: 6.5vw;
}

#holder {
    display: block;
    width: 25vw;
    height: 25vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 10px;
}

#earth-shadow {
    display: block;
    width: 11%;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
    margin-bottom: 30px;
}

.item-1, .item-2, .item-3 {
    position: absolute;
    display: block;
    width: 20%;
    font-size: 1.5vw;
    animation-duration: 21s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.pic1 {
    animation-name: anim-1-1;
    top: 18vw;
}

.text1 {
    animation-name: anim-1-2;
    top: 30vw;
    width: 15%;
    text-align: center;
}

.pic2 {
    animation-name: anim-2-1;
    top: 18vw;
}

.text2 {
    animation-name: anim-2-2;
    top: 30vw;
    width: 15%;
    text-align: center;
}

.pic3 {
    animation-name: anim-3-1;
    top: 18vw;
}

.text3 {
    animation-name: anim-3-2;
    top: 30vw;
    width: 15%;
    text-align: center;
}

@keyframes anim-1-1 {
    0%, 2.5% {
        left: 5%;
        opacity: 0;
    }
    2.5%, 30% {
        left: 10%;
        opacity: 1;
    }
    33%, 100% {
        left: 10%;
        opacity: 0;
    }
}

@keyframes anim-1-2 {
    0%, 3% {
        left: 5%;
        opacity: 0;
    }
    3%, 30% {
        left: 12%;
        opacity: 1;
    }
    33%, 100% {
        left: 12%;
        opacity: 0;
    }
}

@keyframes anim-2-1 {
    0%, 35.5% {
        left: 5%;
        opacity: 0;
    }
    38.5%, 63.7% {
        left: 10%;
        opacity: 1;
    }
    66.7%, 100% {
        left: 10%;
        opacity: 0;
    }
}

@keyframes anim-2-2 {
    0%, 36% {
        left: 5%;
        opacity: 0;
    }
    39%, 63.7% {
        left: 12%;
        opacity: 1;
    }
    66.7%, 100% {
        left: 12%;
        opacity: 0;
    }
}

@keyframes anim-3-1 {
    0%, 69.2% {
        left: 5%;
        opacity: 0;
    }
    72.2%, 97% {
        left: 10%;
        opacity: 1;
    }
    100% {
        left: 10%;
        opacity: 0;
    }
}

@keyframes anim-3-2 {
    0%, 69.7% {
        left: 5%;
        opacity: 0;
    }
    72.7%, 97% {
        left: 12%;
        opacity: 1;
    }
    100% {
        left: 12%;
        opacity: 0;
    }
}



/*footer css ---- start*/

footer {
    background-color: beige;
    display: block;
    height: 100px;
    padding-left: 10.5vw;
    padding-right: 10.5vw;
    padding-top: 2.5rem;
    margin: 0;
    top: 0;
    opacity: .6;
}

.contact p {
    padding-top: 0;
    margin-top: 0;
    line-height: 1.3rem;
    color: black;
    display: inline-block;
}

div.contact {
    position: absolute;
}

​ div.contact {
    display: inline-block;
}

div.icon {
    float: right;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

/*footer css ---- end*/